#toast {
	position: fixed;
	right: 0;
	bottom:0;
	margin: auto;
	
	max-width: 400px;
	visibility: hidden;
	opacity: 0;
	
	/*transition: opacity 0.4s, top 0.4s, visibility 0.4s;*/
}

#toast.visible {
	left: 50%;
	bottom: 90px;
	opacity: 1;
	visibility: visible;
	z-index: 1;
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 90px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 90px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 90px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 90px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}